table {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 500px;
}

th {
	text-align: center;
	border-bottom: 1px solid black;
}

td {
	text-align: center;
}

td[mat-cell] {
	padding: 1em;
}

section {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
	justify-content: space-between;
}

section p {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.mat-mdc-row {
	vertical-align: top;
}


.mat-expansion-panel-header-description {
	flex-grow: 1;
	justify-content: end;
}

::ng-deep .mat-mdc-form-field-infix {
	min-height: 0 !important;
	padding: 1em 0 !important;
}

th {
	cursor: help;
}

.clickable:visited {
	color: black;
}

.expandListElement {
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.7em 1.5em;
}

.expandListElement:hover, .hover-darken:hover {
	background: rgba(128, 128, 128, 0.2) !important;
}

.expandListElement:visited {
	color: black;
}

.expandListElement p {
	margin: 0;
}

.mat-expansion-panel-header-title {
	justify-content: center;
}

::ng-deep .mat-expansion-panel-body {
	padding: 0 !important;
}

mat-paginator {
	display: flex;
	margin-top: 1em;
}

body.light-mode {
	.featureSection {
		border-bottom: 1px solid rgb(225 225 225);
	}
}

.featureSection:last-child {
	border-bottom: none;
}

#filterInput {
	margin: 1em;
}

.text-warning {
	color: #ff7300 !important;
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
	opacity: 1 !important;
	color: red !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow:not(:hover) {
	opacity: 0.9 !important;
	transform: translateY(0px) !important;
}

::ng-deep .mat-sort-header-arrow:hover, .sortButton:not(.mat-sort-header-sorted) {
	opacity: .6 !important;
}
.sortButton:hover {
	opacity: 1 !important;
}

